*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container  {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
    align-items: center;
}

.logo {
    margin: 0;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #95e1d3;
}

.navigation {
    margin-left: 575px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline-block;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 45px;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #95e1d3;
    position: relative;
}

.link:hover {
    color: #f38181;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.menu-link:hover::after {
    content: '';
    display: block;
    transition-property: width, height;
    transition-duration: 200ms;
    transition-timing-function: linear;
    width: 100%;
    height: 3px;
    margin: 0 auto;
    background: #f38181;
    margin-top: 10px;
    position: absolute;
}

.title-wrapper {
    margin: 0 auto;
    width: 100%;
}

.title-kaushan {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

.title-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.title-wrapper::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    background: #f38181;
    margin-top: 40px;
}

.article-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 100px;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-position-x: left;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    position: relative;
    width: 380px;
    height: 80px;
    margin-top: 100px;
}

.alarm {
    background-image: url(../img/alarm.png);
}

.line {
    background-image: url(../img/line.png);
}

.computer {
    background-image: url(../img/computer.png);
}

.book {
    background-image: url(../img/book.png);
}

.home {
    background-image: url(../img/home.png);  
}

.digital {
    background-image: url(../img/digital.png);
}


.article-title {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    padding-left: 30px;
}

.article-text {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
    text-align: left;
    padding-left: 30px;
}

.description {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
    text-align: center;
    margin-bottom: 96px;
}

.team-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    padding-bottom: 80px;
    border-bottom: #e5e5e5 solid;
    border-bottom-width: 1px;
}

.box {
    margin-right: 29px;
}

.card {
    position: relative;
    width: 380px;
    height: 470px;
    margin: 0;
}

.card-background {
    content: '';
    background: #95e1d3;
}

.card-inner {
    position: absolute;
    opacity: 0;
    background-image: linear-gradient(to bottom, #f38181, #fce38a);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.card:hover .card-inner {
    opacity: 0.9;
    
}

.card:hover {
    transform: translate(-10px, -10px);
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.card-buttons  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 78px;
    margin: auto;
    height: 60px;
}

.facebook {
    background-image: url(../img/facebook.png);
    
}

.twitter {
    background-image: url(../img/twitter.png);
}

.pinterest {
    background-image: url(../img/pinterest.png);
}

.instagram {
    background-image: url(../img/instagram.png);
}

.card_button {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    margin: 1px;
    border: 0;
    background-repeat: no-repeat;
    background-position: 0em;
}

.card_button:hover {
    background-color: #95e1d3;
}

.name {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    height: 100%;
    color: #333333;
    margin-top: 30px;
    padding: 0;
}

.role {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    background-color: white;
    height: 100%;
    color: #a6a6a6;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: row;
}

.sign {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
}

span {
    color: #f59191;
}

.subscribe {
    height: 38px;
    width: 150px;
    text-transform: uppercase;
    background-color: #95e1d3;
    color: white;
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    height: 38px;
    font-style: italic;
    left: 10px;
    text-indent: 1em;
    margin: 0;
    padding: 0;
}